@using OnMyPlate.Common

<div class="footer">
    <div class="content_wrapper">
        <div class="shell">
            <div class="upper_footer">
                <div class="footer-left-holder">
                    <div class="footer-section col-sm-3 col-12">
                        <div class="footer_links">
                            <a class="footer_social_links fb footer_fb" target="_blank" href="https://www.facebook.com/vladi.dodnikov"></a>
                            <a class="footer_social_links instagram_page footer_instagram" target="_blank" href="https://www.instagram.com/vladi_dodnikov/"></a>
                            <a class="footer_social_links softuni footer_softuni" target="_blank" href="https://softuni.bg"></a>
                            <a class="footer_social_links linkdIn" target="_blank" href="https://www.linkedin.com/company/rezzo/">
                                <i class="fa fa-linkedin" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="footer-section col-sm-3 col-12">
                    <span>About OnMyPlate</span>
                    <ul>
                        <li><a href="/en/about" target="_blank">What is OnMyPlate</a></li>
                        <li><a href="/en/contacts" target="_blank">Contacts</a></li>
                    </ul>
                </div>
                <div class="footer-section col-sm-3 col-12">
                    <span>For clients</span>
                    <ul>
                        <li><a asp-area="" asp-controller="Home" asp-action="Privacy" target="_blank">&copy; @DateTime.Now.Year - @GlobalConstants.SystemName Privacy</a></li>
                    </ul>
                </div>
                <div class="footer-section col-sm-3 col-12">
                    <span>For Place's Owners</span>
                    <ul>
                        <li><a href="/en/presentation" target="_blank" >How OnMyPlate is helping your business</a></li>
                        <li><a href="/en/for_restaurants" target="_blank"></a></li>
                    </ul>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
</div>