@{
    this.ViewData["Title"] = "About OnMyPlate website.";
}
<div class="middle middle_general">

    <!-- SECTION HEADLINE-->
    <section class="section__defeault section__small section__small_alt">
        <div class="container">
            <div class="introduction__wrapper">
                <div class="introduction__content">
                    <div class="introduction__item">
                        <h1 class="introduction__title">
                            What is OnMyPlate ?
                        </h1>
                    </div>
                    <!-- .introduction__item -->
                </div>
                <!-- .introduction__content -->
            </div>
            <!-- .introduction__wrapper -->
        </div>
    </section>

    <!-- SECTION 1 -->
    <section class="section__defeault section__xSmall reservation__bg">
        <div class="information__wrapper">
            <div class="container">
                <div class="information__content">
                    <div class="information__item information__item__right">
                        <div class="information__text__block text__block__box">
                            <h3 class="information__title text__uppercase">
                                New Generation <br>Restaurant Review System
                            </h3>
                            <div class="information__text">
                                <p>
                                </p><p style="margin-bottom: 0in">OnMyPlate system allows you to look for a real-time client opinions, information or just give a vote about a place that you want/had to visit.</p>
                                <p></p>
                            </div>
                            <!-- /.information__text -->
                        </div>
                        <!-- /.information__text__block -->
                    </div>
                    <!-- /.information__item -->
                </div>
                <!-- /.information__content -->
            </div>
            <!-- /.container -->
        </div>
        <!-- /.information__wrapper -->
    </section>

    <!-- SECTION 2  -->
    <section class="section__defeault section__xSmall section__grey__bg">
        <div class="information__wrapper">
            <div class="container">
                <div class="information__content">
                    <div class="information__item">
                        <div class="information__text__block text__block__box text__block__box__modified">
                            <h3 class="information__title text__uppercase">
                                What is stimulating the restaurants<br> to give a discount?
                            </h3>
                            <div class="information__text">
                                <p>
                                </p><p>Every restaurant, no matter how popular and successful it is, has empty tables during its business hours. The restaurants make loss which is not profitable for it.</p>
                                <p></p>
                            </div>
                            <!-- /.information__text -->
                        </div>
                        <!-- /.information__text__block -->
                        <figure class="information__label">
                            <img src="/assets/images/discount_label.jpg" alt="">
                        </figure>
                        <!-- /.information__label -->
                    </div>
                    <!-- /.information__item -->
                </div>
                <!-- /.information__content -->
            </div>
            <!-- /.container -->
        </div>
        <!-- /.information__wrapper -->
    </section>

    <!-- SEECTION 3 -->
    <section class="section__defeault section__xSmall presentation__bg">
        <div class="information__wrapper">
            <div class="container">
                <div class="information__content">
                    <div class="information__item information__item__right">
                        <div class="information__text__block text__block__box">
                            <h3 class="information__title text__uppercase information__title__mB_reset">
                                OnMyPlate is coming to help!
                            </h3>
                            <figure class="information__label mB__label">
                                <img src="/assets/images/OnMyPlate-Logo.png" alt="">
                            </figure>
                            <div class="information__text">
                                <p>
                                </p><p>
                                    The restaurant make loss from dissatisfied customers, bad votes and empty tables, because it had already paid for a rent, electricity, music, salaries and etc.<br><br>
                                    OnMyPlate helps clients to find best place and at the same time entrepreneurs for filling empty tables.
                                </p>
                                <p></p>
                            </div>
                            <!-- /.information__text -->
                        </div>
                        <!-- /.information__text__block -->
                    </div>
                    <!-- /.information__item -->
                </div>
                <!-- /.information__content -->
            </div>
            <!-- /.container -->
        </div>
        <!-- /.information__wrapper -->
    </section>

    <!-- SECTION 4 -->
    <section class="section__defeault section__xSmall section__grey__bg">
        <div class="information__wrapper">
            <div class="container">
                <div class="information__content">
                    <div class="information__item">
                        <div class="information__text__block text__block__box text__block__box__modified">
                            <h3 class="information__title text__uppercase">
                                Discount! Under Construnction ...
                            </h3>
                            <div class="information__text">
                                <p>
                                    The restaurant defines how empty tables there are at every moment during the business hours. OnMyPlate offers them for reservation with discount that the restaurant had decided to give. The restaurant doesn’t make loss of the empty tables and inspite of the discount it makes profit. The restaurant is full with glad and happy clients.</p>
                                <p>This is under construction and is not available yet.</p>
                            </div>
                            <!-- /.information__text -->
                        </div>
                        <!-- /.information__text__block -->
                        <figure class="information__label">
                            <img src="/assets/images/discount_table_label.jpg" alt="">
                        </figure>
                        <!-- /.information__label -->
                    </div>
                    <!-- /.information__item -->
                </div>
                <!-- /.information__content -->
            </div>
            <!-- /.container -->
        </div>
        <!-- /.information__wrapper -->
    </section>

    <!-- SECTION 5  -->
    <section class="section__defeault section__xSmall  global__bg">
        <div class="information__wrapper">
            <div class="container">
                <div class="information__content">
                    <div class="information__item information__item__right">
                        <div class="information__text__block text__block__box">
                            <figure class="information__label mB__label__small">
                                <img src="/assets/images/OnMyPlate-Logo.png" alt="">
                            </figure>
                            <h3 class="information__title text__uppercase">
                                OnMyPlate is a <br> last innovation
                            </h3>
                            <div class="information__text">
                                <p>
                                    in the restaurants. The success of the idea and concept of OnMyPlate is all over the world, including Europe, USA, Russia, India and etc.
                                </p>
                            </div>
                            <!-- /.information__text -->
                        </div>
                        <!-- /.information__text__block -->
                    </div>
                    <!-- /.information__item -->
                </div>
                <!-- /.information__content -->
            </div>
            <!-- /.container -->
        </div>
        <!-- /.information__wrapper -->
    </section>

    <!-- SECTION 6 -->
    <section class="section__defeault section__xSmall section__grey__bg">
        <div class="information__wrapper">
            <div class="container">
                <div class="information__content">
                    <div class="information__item">
                        <div class="information__text__block text__block__box text__block__box__modified">
                            <h3 class="information__title text__uppercase">
                                Full Restaurant <br> Happy clients
                            </h3>
                            <div class="information__text">
                                <p>
                                    OnMyPlate makes every restaurants’ dream come true – to be full with happy clients. And you just take the chance to eat delicious food at the best restaurants and to have fun at the best clubs. You find new places and receive a big discount.
                                </p>
                            </div>
                            <!-- /.information__text -->
                        </div>
                        <!-- /.information__text__block -->
                        <figure class="information__label">
                            <img src="/assets/images/customers_label.jpg" alt="">
                        </figure>
                        <!-- /.information__label -->
                    </div>
                    <!-- /.information__item -->
                </div>
                <!-- /.information__content -->
            </div>
            <!-- /.container -->
        </div>
        <!-- /.information__wrapper -->
    </section>
    <!-- SECTION 7 -->
    <section class="section__default section__medium">
        <div class="container">
            <div class="slogan__description">
                <div class="slogan__description__block">
                    <div class="logo__block">
                        <span class="letter__text">
                            with
                        </span>
                        <figure>
                            <img src="/assets/images/OnMyPlate-Logo.png" alt="">
                        </figure>
                        <figure class="explanation_mark">
                            <img src="/assets/images/explanation_mark.png" alt="">
                        </figure>
                    </div>
                    <!-- /.logo__block -->
                    <div class="slogan__description__text">
                        <p>
                            Everyone
                        </p>
                        <div class="text__moved__right">
                            <p>
                                wins
                            </p>
                        </div>
                    </div>
                    <div class="slogan__description__text__default">
                        <p>
                            You and the Restaurant!
                        </p>
                    </div>
                    <!-- /.slogan__description__text -->
                </div>
            </div>
            <!-- /.slogan__description -->
            <div class="slogan__sub__text text__uppercase"></div>
        </div>
        <!-- /.container -->
    </section>

    <!-- // END NEW CONTENT -->


</div>
