<section class="section__defeault section__xSmall section__grey__bg">
    <div class="information__wrapper">
        <div class="container">
            <div class="information__content">
                <div class="information__item">
                    <div class="information__text__block text__block__box text__block__box__modified">
                        <h3 class="information__title text__uppercase">
                            What's<br> going on?
                        </h3>
                        <div class="information__text">
                            <p>
                            </p><p>Sorry, but this page is still under construction!</p>
                            <p></p>
                        </div>
                        <!-- /.information__text -->
                    </div>
                    <!-- /.information__text__block -->
                    <figure class="information__label">
                        <img src="/assets/images/unnamed.jpg" alt="">
                    </figure>
                    <!-- /.information__label -->
                </div>
                <!-- /.information__item -->
            </div>
            <!-- /.information__content -->
        </div>
        <!-- /.container -->
    </div>
    <!-- /.information__wrapper -->
</section>